site_name: Rita
site_url: https://educorvi.github.io/rita_einfuehrung/
theme:
  name: material
  language: de
  logo: assets/educorvi-logo.svg
  favicon: assets/educorvi-symbol.png
  features:
    - navigation.instant
#    - navigation.tracking
    - content.tabs.link
    - content.code.annotate
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
repo_url: https://github.com/educorvi/rita
site_author: Julian Pollinger
edit_uri: ""
plugins:
  - search
  - privacy
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
